/*Universal Selector*/
/*
big-device : above 1800px
tab-land : 1200 px
tab-port : upto 900px
phone : upto 600px
*/
*,
*::before,
*::after {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /*background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;*/ }

html {
  font-size: 50%; }
  @media only screen and (min-width: 56.26rem) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
    html {
      font-size: 35%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media screen and (min-width: 112.5em) {
    html {
      font-size: 55%; } }

body {
  box-sizing: border-box;
  padding: 2.5rem; }
  @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
    body {
      padding: 0; } }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

.u-name-formatting {
  font-weight: bold;
  font-family: "Candal", sans-serif;
  font-size: 6.5rem;
  color: #d1a683;
  letter-spacing: 0.4rem;
  text-align: center;
  padding: 1.3rem 1rem; }

.u-format-skills {
  background-color: #2f2e41;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  letter-spacing: 0.2rem;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  color: #f2f2f2; }

.u-center-img-wrt-parent {
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .u-center-img-wrt-parent {
      position: relative;
      display: none; } }

.u-no-decoration {
  text-decoration: none;
  color: #fff; }

.middleBox {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -60%);
  max-width: 114rem;
  height: auto; }
  .middleBox__imageAndName--image {
    margin-right: 4rem;
    float: left; }
    @media only screen and (max-width: 37.5em) {
      .middleBox__imageAndName--image {
        float: none;
        margin-right: 0; } }
    @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
      .middleBox__imageAndName--image {
        float: none;
        margin-right: 0; } }
  .middleBox__imageAndName--name {
    float: left; }
  .middleBox__links .col-1-of-4 {
    margin-top: 6rem;
    margin-right: 4rem;
    width: calc((100% - 3 * 4rem) / 4);
    float: left; }
    .middleBox__links .col-1-of-4:last-child {
      margin-right: 0; }

#img-logo {
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  z-index: 1;
  transition: all 0.33s; }
  #img-logo:hover {
    cursor: pointer;
    transform: translateY(-1rem) scaleX(1.2) scaleY(1.2); }

.middleBox__links--link1 {
  animation-name: logo-transition;
  animation-duration: all 0.2s; }

.portfolio-img {
  border-radius: 10rem;
  border: solid 0.5rem #fff;
  padding: 1rem; }

.links-section {
  max-width: 114rem;
  border: 0.1rem white solid; }

.portfolio-img {
  width: 20rem;
  height: 21rem; }

.img-logo-class {
  height: 12rem; }

.page-head {
  height: 70vh;
  background-color: #1a2c56;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }

.logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
  animation-name: logo-transition-on-load;
  animation-duration: 2s; }
  @media only screen and (max-width: 37.5em) {
    .logo-box {
      top: 1.5rem;
      left: 1.5rem; } }

.firstName {
  animation-name: firstName-TtoB;
  animation-duration: 2s; }

.lastName {
  animation-name: lastName-BtoT;
  animation-duration: 2s;
  border-top: solid #d1a683 0.5rem; }

.content-about-me {
  background-color: #2f2e41;
  color: #f2f2f2;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  line-height: 130%;
  font-size: 2.9rem; }

.name-of-degree {
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 3.5rem; }

.institute, .passing {
  font-family: 'Secular One', sans-serif;
  word-spacing: 0.2rem;
  font-size: 3rem; }

.passing {
  font-style: italic; }

.location-vector {
  width: 6rem;
  padding-left: 3rem; }

.about-me {
  background-color: #d1a683;
  height: contain;
  margin-top: -12vh;
  padding: 10rem;
  clip-path: polygon(0 12vh, 100% 0, 100% 85%, 0 100%);
  padding-bottom: 8rem;
  z-index: 2; }
  @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
    .about-me {
      padding: 10rem 1rem;
      font-size: 2rem !important; } }
  .about-me__row-of-2 {
    max-width: 114rem;
    padding: 25rem 1rem;
    padding-top: 10rem;
    margin: 0 auto;
    font-size: 3rem; }
    .about-me__row-of-2--col-1 {
      max-width: calc((100% - 8rem) /2);
      float: left;
      margin-right: 8rem; }
      .about-me__row-of-2--col-1:last-child {
        margin-right: 0rem; }
      @media only screen and (max-width: 37.5em) {
        .about-me__row-of-2--col-1 {
          margin-right: 8rem;
          min-width: 75vw;
          float: none;
          margin: 0 auto; } }

#boy-programming {
  width: 50rem; }
  @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
    #boy-programming {
      width: 40rem; } }
  @media only screen and (max-width: 37.5em) {
    #boy-programming {
      left: 50%;
      top: 20%;
      position: absolute;
      transform: translateX(-50%); } }

@media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
  .row-about-me {
    font-size: 2rem !important; } }

.row-about-me .col-1-of-4 {
  width: calc((100% - 3 * 1.5rem) / 4);
  float: left;
  margin-bottom: 2rem; }
  .row-about-me .col-1-of-4:not(:last-child) {
    margin-right: 1.5rem; }

.row-about-me .col-1-of-3 {
  width: calc((100% - 2 * 1.5rem) / 3);
  float: left; }
  .row-about-me .col-1-of-3:not(:last-child) {
    margin-right: 1.5rem; }

@media only screen and (max-width: 37.5em) {
  .row-about-me {
    min-width: 75vw;
    float: none;
    margin: 0 auto; } }

@media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
  .content-about-me {
    font-size: 2.5rem; } }

@media only screen and (max-width: 37.5em) {
  .content-about-me {
    width: 100%; } }

/*
big-device : above 1800px
tab-land : 1200 px
tab-port : upto 900px
phone : upto 600px
*/
.about-career {
  /*Miscc Setings*/
  color: #fff;
  font-size: 3rem;
  position: relative;
  background-color: #2f2e41;
  padding-bottom: 8rem;
  height: auto;
  margin-top: -20rem;
  z-index: -1;
  padding-top: 15rem;
  padding-bottom: 30rem; }
  @media only screen and (max-width: 37.5em) {
    .about-career {
      padding-bottom: 55rem !important; } }
  @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
    .about-career {
      padding-bottom: 45rem; } }
  @media only screen and (min-width: 56.26rem) {
    .about-career {
      padding-bottom: 40rem; } }
  .about-career .my-education {
    position: relative; }
    .about-career .my-education .my-education-header {
      font-weight: bolder;
      font-family: 'Secular One', sans-serif;
      letter-spacing: 0.5rem;
      left: 50%;
      text-align: center;
      padding: 2.5rem;
      font-size: 7rem;
      color: #ffb558; }
      @media only screen and (max-width: 37.5em) {
        .about-career .my-education .my-education-header {
          font-size: 5rem; } }
    .about-career .my-education .education-detail {
      padding: 0 15rem 5rem 15rem;
      display: block;
      margin: 3rem; }
      @media only screen and (min-width: 56.26rem) {
        .about-career .my-education .education-detail {
          padding: 0 1rem 3rem 1rem;
          margin: 0 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .about-career .my-education .education-detail {
          padding: 0 1rem 3rem 1rem; } }
      .about-career .my-education .education-detail .name-of-degree {
        color: #ffb558;
        display: inline-block;
        font-weight: bolder;
        line-height: 5rem;
        height: 5rem; }
      .about-career .my-education .education-detail .institute-name-and-passing {
        color: #ffb558; }
        .about-career .my-education .education-detail .institute-name-and-passing .institute {
          float: left;
          padding-left: 6rem; }
        .about-career .my-education .education-detail .institute-name-and-passing .passing {
          float: right;
          font-size: 3rem; }
      .about-career .my-education .education-detail .course-description {
        margin-top: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        word-wrap: break-word;
        font-family: 'Jost', sans-serif;
        clear: both;
        content: ""; }

.my-work {
  padding-bottom: 12rem;
  position: relative; }
  .my-work .my-work-experience .my-work-header {
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
    letter-spacing: 0.5rem;
    left: 50%;
    text-align: center;
    padding: 2.5rem 2.5rem 1.75rem 2.5rem;
    font-size: 7rem;
    color: #ffb558; }
    @media only screen and (max-width: 37.5em) {
      .my-work .my-work-experience .my-work-header {
        font-size: 5rem; } }
  .my-work .my-work-experience .work-detail {
    padding: 0 15rem 3rem 15rem;
    margin: 5rem;
    clear: both;
    content: ""; }
    @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
      .my-work .my-work-experience .work-detail {
        padding: 0 1rem 3rem 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .my-work .my-work-experience .work-detail {
        padding: 0 1rem 3rem 1rem; } }
    .my-work .my-work-experience .work-detail .col-3-of-4 {
      float: left;
      margin-right: 4rem;
      width: calc(((100% - 4rem ) / 4 ) * 3); }
      @media only screen and (max-width: 37.5em) {
        .my-work .my-work-experience .work-detail .col-3-of-4 {
          width: 100%; } }
      .my-work .my-work-experience .work-detail .col-3-of-4 .organization-name {
        color: #ffb558;
        font-weight: bolder;
        line-height: 5rem;
        height: 5rem;
        font-family: 'Jost', sans-serif;
        font-weight: bold;
        letter-spacing: 0.2rem;
        font-size: 3.5rem; }
      .my-work .my-work-experience .work-detail .col-3-of-4 .position-and-activeyear .position {
        margin-right: 4rem;
        width: calc(((100% - 4rem) /3 ) * 2);
        float: left;
        font-family: 'Secular One', sans-serif;
        word-spacing: 0.2rem;
        font-size: 3rem;
        color: #ffb558;
        padding-left: 6rem; }
      .my-work .my-work-experience .work-detail .col-3-of-4 .position-and-activeyear .activeyear {
        width: calc(((100% - 4rem) /3 ) * 1);
        float: left;
        font-family: 'Secular One', sans-serif;
        word-spacing: 0.2rem;
        font-size: 3rem;
        color: #ffb558;
        padding-left: 6rem; }
      .my-work .my-work-experience .work-detail .col-3-of-4 .work-description {
        clear: both;
        content: "";
        margin-top: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        word-wrap: normal;
        font-family: 'Jost', sans-serif;
        text-justify: auto;
        padding-top: 4rem; }
    .my-work .my-work-experience .work-detail .col-1-of-4 {
      float: left;
      width: calc(((100% - 4rem ) / 4 ) *  1);
      height: 18rem;
      width: 18rem; }
      .my-work .my-work-experience .work-detail .col-1-of-4 .type-of-role {
        text-align: center;
        width: 18rem;
        font-family: 'Secular One', sans-serif;
        word-spacing: 0.2rem;
        font-size: 3rem;
        color: #ffb558;
        letter-spacing: 0.2rem;
        padding: 1rem 0; }
      @media only screen and (max-width: 37.5em) {
        .my-work .my-work-experience .work-detail .col-1-of-4 {
          display: none; } }

#organization-logo, .organization-img {
  height: 18rem;
  width: 18rem;
  border-radius: 2rem; }

.organization-img {
  background-color: #fff; }

@keyframes logo-transition-on-load {
  0% {
    transform: rotate(0deg);
    opacity: 0; }
  25% {
    transform: rotate(30deg);
    opacity: 0.2; }
  75% {
    transform: rotate(-30deg);
    opacity: 0.8; }
  100% {
    transform: rotate(0deg);
    opacity: 1; } }

@keyframes firstName-TtoB {
  0% {
    transform: translateY(-7rem);
    opacity: 0; }
  80% {
    transform: translateY(2rem);
    opacity: 0.8; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes lastName-BtoT {
  0% {
    transform: translateY(7rem);
    opacity: 0;
    border: none; }
  80% {
    transform: translateY(-2rem);
    opacity: 0.8;
    border: none; }
  100% {
    transform: translateY(0rem);
    opacity: 1;
    border-top: solid #d1a683 0.5rem; } }

@keyframes logo-transition {
  0% {
    z-index: -1;
    opacity: 0; }
  100% {
    z-index: 1;
    opacity: 1; } }

/*
big-device : above 1800px
tab-land : 1200 px
tab-port : upto 900px
phone : upto 600px
*/
.my-projects {
  color: WHITE;
  background-color: #ffb558;
  font-size: 2.5rem;
  position: relative;
  height: fit-content;
  margin-top: 2.5rem;
  padding: 0rem 5rem 10rem 5rem; }
  .my-projects .project-header {
    text-align: center;
    padding: 2.5rem 0 2.5rem 0;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
    letter-spacing: 0.5rem;
    font-size: 7rem;
    color: #2f2e41; }
    @media only screen and (max-width: 37.5em) {
      .my-projects .project-header {
        font-size: 5rem; } }

@media only screen and (max-width: 37.5em) and (max-width: 37.5em) {
  .my-projects .project-skeleton {
    border: 0.5rem #2f2e41 solid;
    border-radius: 2rem;
    width: 100%;
    margin-bottom: 5rem; }
    .my-projects .project-skeleton .col-2-of-5 {
      width: 100%; }
      .my-projects .project-skeleton .col-2-of-5 .projects-image-and-link .project-image .u-format-project-snapshot {
        width: 100%;
        padding: 2rem; }
      .my-projects .project-skeleton .col-2-of-5 .projects-image-and-link .projects-link .col-1-of-2 {
        text-align: center;
        width: calc((100% - 4 * 4rem) / 2);
        float: left;
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        letter-spacing: 0.2rem;
        font-family: 'Jost' , 'sans-serif';
        font-weight: bold;
        text-align: center;
        border-radius: 0.5rem;
        box-shadow: 0 1rem 2rem rgba(47, 46, 65, 0.8);
        background-color: #ffb558; }
        .my-projects .project-skeleton .col-2-of-5 .projects-image-and-link .projects-link .col-1-of-2:not(:last-child) {
          margin-right: 4rem;
          margin-left: 4rem; }
    .my-projects .project-skeleton .col-3-of-5 {
      width: 100%;
      background-color: #2f2e41; }
      .my-projects .project-skeleton .col-3-of-5 .project-title {
        text-align: center;
        font-family: 'Secular One', sans-serif;
        word-spacing: 0.2rem;
        font-size: 3rem;
        margin-bottom: 2rem;
        clear: both;
        content: ""; }
      .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 {
        padding: 0 2rem; }
        .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 .col-1-of-3 {
          width: calc((100% - 2 * 2rem) / 3);
          float: left;
          margin-bottom: 2rem;
          text-align: center;
          background-color: #ffb558;
          border-radius: 0.5rem;
          padding: 1rem;
          letter-spacing: 0.2rem;
          font-family: 'Jost' , 'sans-serif';
          font-weight: bold; }
          .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 .col-1-of-3:not(:last-child) {
            margin-right: 2rem; }
        .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 .dummy {
          visibility: hidden; }
    .my-projects .project-skeleton .project-brief-description {
      clear: both;
      content: "";
      word-wrap: break-word;
      font-family: 'Jost', sans-serif;
      font-size: 2.5rem;
      padding: 2rem; } }
  @media only screen and (min-width: 56.26rem) {
    .my-projects .project-skeleton {
      border: 0.5rem #2f2e41 solid;
      border-radius: 2rem;
      margin: 0 25rem;
      display: flex; } }
  @media only screen and (min-width: 56.26rem) and (min-width: 37.51rem) and (max-width: 56.25em) {
    .my-projects .project-skeleton {
      margin: 0 2rem; } }
  @media only screen and (min-width: 56.26rem) {
      .my-projects .project-skeleton:not(:last-child) {
        margin-bottom: calc(5 * 2rem); }
      .my-projects .project-skeleton .col-2-of-5 {
        width: calc(((100% - 2 * 4rem) / 5 ) * 2);
        float: left;
        padding-bottom: 2rem;
        flex: 2; }
        .my-projects .project-skeleton .col-2-of-5 .projects-image-and-link .project-image .u-format-project-snapshot {
          width: 100%;
          padding: 2rem; }
        .my-projects .project-skeleton .col-2-of-5 .projects-image-and-link .projects-link .col-1-of-2 {
          width: calc((100% - 3 *  2rem) / 2);
          float: left;
          background-color: #2f2e41;
          margin-right: 2rem;
          padding: 1rem;
          letter-spacing: 0.2rem;
          font-family: 'Jost' , 'sans-serif';
          font-weight: bold;
          text-align: center;
          border-radius: 0.5rem;
          box-shadow: 0 1rem 2rem rgba(47, 46, 65, 0.8);
          text-decoration: none; }
          .my-projects .project-skeleton .col-2-of-5 .projects-image-and-link .projects-link .col-1-of-2:not(:last-child) {
            margin-left: 2rem; }
      .my-projects .project-skeleton .col-3-of-5 {
        border: 0.1rem solid black;
        flex: 3;
        background-color: #2f2e41; }
        .my-projects .project-skeleton .col-3-of-5 .project-title {
          text-align: center;
          margin: 2rem 0;
          font-family: 'Secular One', sans-serif;
          word-spacing: 0.2rem;
          font-size: 4rem; } }
      @media only screen and (min-width: 56.26rem) and (max-width: 37.5em) {
        .my-projects .project-skeleton .col-3-of-5 .project-title {
          font-size: 3rem; } }
  @media only screen and (min-width: 56.26rem) {
        .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 {
          padding: 0 2rem; }
          .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 .col-1-of-3 {
            width: calc((100% - 2 * 2rem) / 3);
            float: left;
            margin-bottom: 2rem;
            text-align: center;
            background-color: #ffb558;
            border-radius: 0.5rem;
            padding: 1rem;
            letter-spacing: 0.2rem;
            font-family: 'Jost' , 'sans-serif';
            font-weight: bold; }
            .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 .col-1-of-3:not(:last-child) {
              margin-right: 2rem; }
          .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 .dummy {
            visibility: hidden; }
        .my-projects .project-skeleton .col-3-of-5 .project-brief-description {
          clear: both;
          content: "";
          word-wrap: break-word;
          font-family: 'Jost', sans-serif;
          font-size: 2.5rem;
          padding: 2rem; } }
  @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
    .my-projects .project-skeleton {
      border: 0.5rem #2f2e41 solid;
      border-radius: 2rem;
      margin: 0 25rem;
      display: flex; } }
  @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) and (min-width: 37.51rem) and (max-width: 56.25em) {
    .my-projects .project-skeleton {
      margin: 0 2rem; } }
  @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
      .my-projects .project-skeleton:not(:last-child) {
        margin-bottom: calc(5 * 2rem); }
      .my-projects .project-skeleton .col-2-of-5 {
        width: calc(((100% - 2 * 4rem) / 5 ) * 2);
        float: left;
        padding-bottom: 2rem;
        flex: 2; }
        .my-projects .project-skeleton .col-2-of-5 .projects-image-and-link .project-image .u-format-project-snapshot {
          width: 100%;
          padding: 2rem; }
        .my-projects .project-skeleton .col-2-of-5 .projects-image-and-link .projects-link .col-1-of-2 {
          width: calc((100% - 3 *  2rem) / 2);
          float: left;
          background-color: #2f2e41;
          margin-right: 2rem;
          padding: 1rem;
          letter-spacing: 0.2rem;
          font-family: 'Jost' , 'sans-serif';
          font-weight: bold;
          text-align: center;
          border-radius: 0.5rem;
          box-shadow: 0 1rem 2rem rgba(47, 46, 65, 0.8);
          text-decoration: none; }
          .my-projects .project-skeleton .col-2-of-5 .projects-image-and-link .projects-link .col-1-of-2:not(:last-child) {
            margin-left: 2rem; }
      .my-projects .project-skeleton .col-3-of-5 {
        border: 0.1rem solid black;
        flex: 3;
        background-color: #2f2e41; }
        .my-projects .project-skeleton .col-3-of-5 .project-title {
          text-align: center;
          margin: 2rem 0;
          font-family: 'Secular One', sans-serif;
          word-spacing: 0.2rem;
          font-size: 4rem; } }
      @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) and (max-width: 37.5em) {
        .my-projects .project-skeleton .col-3-of-5 .project-title {
          font-size: 3rem; } }
  @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
        .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 {
          padding: 0 2rem; }
          .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 .col-1-of-3 {
            width: calc((100% - 2 * 2rem) / 3);
            float: left;
            margin-bottom: 2rem;
            text-align: center;
            background-color: #ffb558;
            border-radius: 0.5rem;
            padding: 1rem;
            letter-spacing: 0.2rem;
            font-family: 'Jost' , 'sans-serif';
            font-weight: bold; }
            .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 .col-1-of-3:not(:last-child) {
              margin-right: 2rem; }
          .my-projects .project-skeleton .col-3-of-5 .tech-used .row-of-3 .dummy {
            visibility: hidden; }
        .my-projects .project-skeleton .col-3-of-5 .project-brief-description {
          clear: both;
          content: "";
          word-wrap: break-word;
          font-family: 'Jost', sans-serif;
          font-size: 2.5rem;
          padding: 2rem; } }

footer {
  background-color: black;
  color: white;
  font-size: 4rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem; }
  footer .footer-outer {
    max-width: 114rem; }
    footer .footer-outer .footer-name {
      text-align: center;
      background-image: linear-gradient(to right top, #e0a433, #cfb310, #b4c200, #8cd200, #44e023);
      display: inline-block;
      -webkit-background-clip: text;
      color: transparent;
      background-clip: text;
      font-family: 'Jost', sans-serif;
      letter-spacing: 3px;
      margin: 2rem 0; }
    footer .footer-outer .footer-links .col-1-of-3 {
      float: left; }
      footer .footer-outer .footer-links .col-1-of-3:not(:last-child) {
        margin-right: 2rem;
        width: calc((100% -  2 * 2rem) / 3); }
    footer .footer-outer .footer-release {
      text-align: center;
      background-image: linear-gradient(to right top, #e0a433, #cfb310, #b4c200, #8cd200, #44e023);
      display: inline-block;
      -webkit-background-clip: text;
      color: transparent;
      background-clip: text;
      font-family: 'Jost', sans-serif;
      letter-spacing: 3px;
      margin: 2rem 0; }

/*
big-device : above 1800px
tab-land : 1200 px
tab-port : upto 900px
phone : upto 600px
*/
