@import "base/base";

@import "abstract/variables";

@import "base/utilities";

@import "layouts/head";
@import "components/contact-me";
@import "base/typography";

@import "layouts/about";
@import "components/skills";
@import "layouts/about-career";
@import "layouts/my-work";
@import "base/animation";

@import "layouts/projects";

@import "layouts/footer";
@import "abstract/mixins";
@import "abstract/phone_project";
@import "abstract/other_project.scss";
@import "components/skills-revamp";
