$color-primary: #1a2c56;
$color-secondary: #d1a683;
$color-white : #fff;
$color-match-jacket : #2f2e41;
$color-match-table : #f2f2f2;

//for logo-coordinates
$logo-left: 3rem;
$logo-top: 3rem;

//for float positioning
$gutter-horizontal: 4rem;
$gutter-horizontal-about-me : 8rem;

$gutter-col-1-of-4 : 1.5rem;
$gutter-vertical-skills : 2rem;

//for skills-section
$padding-skills : 1rem;
$letter-space : .4rem;
$letter-space-medium : .2rem;
$section-bottom-space : 8rem;