.row-about-me
{
  
  @include respond(tab-port)
  {
    font-size: 2rem !important;
  }
  .col-1-of-4 //for the 4 tab display
  {

    width : calc((100% - 3 * #{$gutter-col-1-of-4}) / 4 );
    float:left;
    margin-bottom: $gutter-vertical-skills;
    &:not(:last-child)
    {
      margin-right : $gutter-col-1-of-4;
    }
    font-size: 1rem;
  
  }

  .col-1-of-3 //for the 3 tab display
  {

    width : calc((100% - 2 * #{$gutter-col-1-of-4}) / 3 );
    float:left;
    &:not(:last-child)
    {
      margin-right : $gutter-col-1-of-4;
    }
   
  }

  @include respond(phone)
  {
    min-width :75vw;
    float:none;
    margin : 0 auto;
  }

}.content-about-me
{
  @include respond(tab-port)
  {
    font-size:2.5rem;
  }
  @include respond(phone)
  {
    width: 100%;
    
  }
}
