.u-name-formatting {
  font-weight: bold;
  font-family: "Candal", sans-serif;
  font-size: 6.5rem;
  color: $color-secondary;
  letter-spacing: $letter-space;
  text-align: center;
  padding: 1.3rem 1rem;
}

.u-format-skills
{
  background-color: $color-match-jacket;
  text-align: center;
  border-radius : 0.5rem;
  padding: $padding-skills;
  letter-spacing: $letter-space-medium;
  font-family: 'Jost', sans-serif;
  font-weight : bold;
  color:$color-match-table;
}


.u-center-img-wrt-parent
{
  margin : 0 auto;
}

.u-no-decoration
{
  text-decoration: none;
  color:$color-white;
}
