.u-name-formatting {
  font-weight: bold;
  font-family: "Candal", sans-serif;
  font-size: 6.5rem;
  color: $color-secondary;
  letter-spacing: $letter-space;
  text-align: center;
  padding: 1.3rem 1rem;
  @include respond(phone) {
    letter-spacing: 0;
    font-size: 4rem;
  }
  @include respond(tab-port) {
    letter-spacing: 0;
    font-size: 4.75rem;
  }
}

.u-format-skills {
  background-color: $color-match-jacket;
  text-align: center;
  border-radius: 0.5rem;
  padding: $padding-skills;
  letter-spacing: $letter-space-medium;
  font-family: "Jost", sans-serif;
  font-weight: bold;
  color: $color-match-table;
  margin: 0.75rem 1rem;
}

.u-center-img-wrt-parent {
  margin: 0 auto;
  @include respond(phone) {
    position: relative;
    display: none;
  }
}

.u-no-decoration {
  text-decoration: none;
  color: $color-white;
}
