.middleBox
{
  
  left : 50%;
  top : 50%;
  position: absolute;
  transform: translate(-50%,-60%);
  max-width:114rem;
  
  &__imageAndName
  {
    .image-outer
    {
      
      float:left;
      margin-right : 3rem;
     
    }
   

    @include respond(phone)
    {
      .image-outer
      {
        float:none;
        margin-right:0;
        .middleBox__imageAndName--image
        {
          .portfolio-img
          {
            display: block;
            margin: auto;
          }
        }
      }
    }
    @include respond(tab-port)
    {
      .image-outer
      {
        float:none;
        margin-right:0;
        .middleBox__imageAndName--image
        {
          .portfolio-img
          {
            display: block;
            margin:auto;
          }
        }
      }
    }
    
    .middleBox__imageAndName--name
    {
      float:left;  
      @include respond(phone)
      {
        float:none;
        margin : 0 auto;
      }
      @include respond(tab-port)
      {
        float:none;
        margin : 0 auto;
      }
    }
  }

 


  &__links
  {

    clear: both;
    content: "";
    
      .col-1-of-4
      {
        margin-top : 6rem;
        margin-right: $gutter-horizontal;
        
        width : calc((100% - 3 * #{$gutter-horizontal}) / 4 );
        float : left;
        
        animation-name:logo-transition;
        animation-duration: all 0.2s;
        &:not(:last-child)
        {
          margin-right: 0rem;
        }
        @include respond(phone)
        {
          width : calc((100% - 1 * #{$gutter-horizontal}) / 2 );
        }
        @include respond(tab-port)
        {
          width : calc((100% - 1 * #{$gutter-horizontal}) / 2 );
        }
        
        
        
      }
      @include respond(phone)
      {
        .middleBox__links--link4 , .middleBox__links--link2
          {
            margin-right: 0;
          }
      }
      @include respond(tab-port)
      {
        .middleBox__links--link4 , .middleBox__links--link2
          {
            margin-right: 0;
          }
      }
      
  }
}

.portfolio-img
{
    border-radius: 10rem;
    border : solid 0.5rem #fff;
    padding:1rem;
    
    
}

#img-logo
{
  display : block;
  width : 8rem;
  height:8rem;
  margin : 0 auto;
  z-index :1;
  transition: all 0.33s;

    &:hover
    {
      cursor: pointer;
      transform: translateY(-1rem) scaleX(1.2) scaleY(1.2);

    }


  

}